.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  width: 100%;
}

.text {
  color: #bdbdbd;
  font-size: 14px;
}

/* Desktop */
@media only screen and (min-width: 850px) {
  .footer {
    margin: 0.7rem;
  }
}
